# Папки сборки
bin/
obj/
publish/

# Visual Studio
.vs/
.vscode/
.idea/

# Файлы пользователя
*.csproj.user
*.suo
*.userprefs
*.user

# Временные файлы
*.tmp
*.bak
*.log
*.cache

# Файлы сборки
*.dll
*.exe
*.pdb
*.exe.config

# Профили публикации
Properties/PublishProfiles/
**/Properties/PublishProfiles/
*.pubxml
*.pubxml.user

# Rider
.idea/
*.sln.iml

# Если BinBuddy.slnx - временный файл
*.slnx